@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Crimson Text", serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.animated-header {
    background: linear-gradient(-45deg, gray, rgb(153, 170, 195));
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
}

.animated-header::before {
    content: '';
    position: absolute;
    top: -90%;
    right: -50%;
    width: 200%;
    height: 900%;
    background: radial-gradient(
        circle,
        rgb(0, 0, 0) 10%,
        transparent 10%
    );
    background-size: 30px 30px;
    animation: socialAnimation 180s linear infinite;
    opacity: 0.1;
}

@keyframes socialAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animated-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: rgb(129, 25, 184);
    letter-spacing: 0px;
    text-shadow: 2px 2px 8px black;
}

.animated-header .subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #e0e0e0;
}

.animated-header img {
    height: 15vh;
}

.navbar-dark .navbar-brand, 
.navbar-dark .nav-link {
    color: white;
}

.navbar-dark {
    background-color: aqua;
    background: linear-gradient(-45deg, gray, rgb(153, 170, 195));
    border-top: 1px solid rgba(128, 128, 128, 0.412);
    border-bottom: 1px solid rgba(0, 0, 0, 0.427);
    box-shadow: 10px 10px 30px black;
    z-index: 1120;
}

.nav-item {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.nav-link{
    width: fit-content;
}

.navbar div a img { /* navbar logo */
    height: 6vh;
}

.carousel-section {
    height: 85vh;
    min-height: 300px;
    padding: 0px 0;
    background: #333;
}

.card {
    height: 85vh;
    min-height: 300px;
    background-color: #1a1a1a;
    border: none;
    color: #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-img-top {
    border-radius: 0%;
    width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}

.card-body {
    background-color: aqua;
    background: linear-gradient(-30deg, gray, rgb(153, 170, 195));
    border-bottom: 1px solid rgba(128, 128, 128, 0.412);
    border-top: 1px solid rgba(0, 0, 0, 0.427);
    box-shadow: 10px -10px 30px black;
    z-index: 1120;
}

.social-media-section {
    background: linear-gradient(-40deg, gray, rgb(153, 170, 195));
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
}

.social-media-section::before {
    content: '';
    position: absolute;
    top: -90%;
    right: -50%;
    width: 200%;
    height: 900%;
    background: radial-gradient(
        circle,
        rgb(0, 0, 0) 10%,
        transparent 10%
    );
    background-size: 30px 30px;
    animation: socialAnimation 180s linear infinite;
    opacity: 0.1;
}

.social-media-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-shadow: 1px 1px 4px black;
}

.social-icons .social-icon {
    color:white;
    font-size: 2rem;
    margin: 0 10px;
    transition: transform 0.3s, color 0.3s;
}

.social-icons .social-icon:hover {
    transform: scale(1.1);
    color: white;
}

.content {
    display: block;
    background-color: #82767633;
    background: linear-gradient(-40deg, gray, rgb(153, 170, 195));
    padding: 3rem 3rem;
    margin: 2rem 0;
    border-radius: 4px;
}

.stage {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem;
}

.quotersName {
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: center;
}

.f-oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.italic {
    font-style: italic;
}

.upper {
      text-transform: uppercase;
}

.ex {
    letter-spacing: .7vw;
}

.ex2 {
    letter-spacing: .54vw;
}

.title {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

@media (orientation: portrait){
    .stage {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 2rem;
    }
    .stage h1, .stage h2, .stage h3, .stage h4, .stage h5, .stage h6 {
        margin: 1rem 2.5rem;
    }
    .stage p {
        font-size: 14pt;
    }
    }
